#map {
    height: 300px;
    width: 100%;
  }
  
  .container {
    max-width: 1200px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .custom-switch {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
    color: #fff;
  }
  